@import './font/fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Scrollbar styles */
::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #5272ffc0 22.01%, #FFFFFF 100%);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-corner {
  background-color: #f1f1f1;
}



 /* Meet Hira Component  */
.bgcustom{
  background-image: url(../public/assets/bg-blue.png);
  background-size: cover;
  width: 100%;
  padding: 450px 0px 400px 0px;
  background-repeat: no-repeat;
  margin-top: -26rem;
}
@media only screen and (max-width: 1280px) {
  .bgcustom{
    padding: 450px 0px 400px 0px;
    margin-top: -28rem;
  }
}
@media only screen and (max-width: 1030px) {
  .bgcustom{
    padding: 450px 0px 250px 0px;
    margin-top: -37rem;
  }
}
@media only screen and (max-width: 400px) {
  .bgcustom{
    padding: 450px 0 150px 0;
    margin-top: -38rem;
  }
}

.bgcustom1{
  background-image: url(../public/assets/bg-blue.png);
  background-size: cover;
  width: 100%;
}

.custom-arrow {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;
}

.custom-next-arrow {
  right: 10px;
  z-index: 1;
}

.custom-prev-arrow {
  left: 10px;
  z-index: 1;
}

.custom-arrow:hover {
  background: rgba(255, 255, 255, 1);
}



/* AI Chat */


.agent {
    background-color: #ffffff !important;
}
.send-message {
  background-color: #5271FF !important;
  color: white !important;
}

.send-message,
.restart-chat {
  border-radius: 100px !important;
}

.message-input {
  border: 1px solid gray !important;
  border-radius: 10px !important;
}

.agent-header {
    background-color: #E3E7FF !important; 
    color: black !important; 
   border-radius: 10px 10px 0 0 !important;
    text-align: left !important; 
    justify-content: space-between !important; 
}


.legend-message {
  display: none !important;
}

.agent-profile-picture {
  display: block !important;
}

.message {
  border-radius: 10px !important;
  background-color: #5271FF !important;
}